<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <style>
    html {
        min-height: 100%;
        position: relative;
      }
      
      .container-fluid {
          padding-top: 70px;
          padding-bottom: 70px;
      }
      .navbar {
          padding-top: 15px;
          padding-bottom: 15px;
          border: 0;
          border-radius: 0;
          margin-bottom: 0;
          font-size: 12px;
          letter-spacing: 5px;
      }
      .navbar-nav  li a:hover {
          color: #1abc9c !important;
      }
 
      </style>
  <meta charset="utf-8">
  <title>Covid19 Tracker</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Covid19 Tracker</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/covidindia">COVID19INDIA</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">