<%-include("partials/header"); -%>

<div>

<p>Lorem , ipsum dolor sit amet consectetur adipisicing elit. Labore autem magnam eligendi 
    similique vitae natus deleniti molestiae officiis, necessitatibus accusamus. Ab explicabo excepturi blanditiis at 
    aliquid provident esse, sed dignissimos?</p>

</div>


<%-include("partials/footer"); -%>